/*DESKTOPS*/
@media only screen and (max-width: 1200px) {


/*SMALL DESKTOPS/BIG TABLETS*/
@media only screen and (max-width: 992px) {

.curator-top h2 {
	font-size: 4rem;
}


/*SMALL TABLETS*/
@media only screen and (max-width: 768px) {

.curator-top {
	flex-direction: column-reverse;
}

.curator-top h2 {
	font-size: 3rem;
}

.curator-picture {
	height: 50rem;
}

/*MOBILE PHONES*/
@media only screen and (max-width: 576px) {


.curator-top h2 {
	font-size: 2.5rem;
}

